body{
    background-color:#883072;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section{
    background-color: white;
    padding: 10px 5px 10px 5px;
    margin:auto;
    width: 80%;
    height:400px;
    overflow: scroll;
    text-align: left;
    box-shadow: 10px 10px black;
}
#filler{
    width: 65%;
    margin:5px 0px 25px 25px;
    }
#sidebar{
    background-color: rgb(22, 22, 22);
    color:white;
    float:right;
    position: -webkit- sticky;
    position: sticky;
    top:5%;
    margin: 10px 5px 10px 5px;
    padding: 15px 10px 15px 10px;
    width:20%;
    height:300px;
}